/* BENEFITS CSS */

.benefits {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        flex-direction: row;
    }
}
.benefits-icons {
    width: 70px;
    height: 70px;
}
.benefits-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background: rgb(245, 244, 250);
    border-radius: 4px;
    @media screen and(min-width:768px) {
        width: 354px;
    }
    @media screen and(min-width:1200px) {
        max-width: 270px;
        margin-bottom: 30px;
    }
}
.benefits-title,
.foot-h3 {
    text-align: center;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    @media screen and(min-width:768px) {
        text-align: start;
    }
}
.benefits-text {
    font-weight: 400;
    width: 450px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
    margin-bottom: 30px;
    @media screen and(min-width:768px) {
        max-width: 354px;
    }
    @media screen and(min-width:1200px) {
        max-width: 270px;
    }
}

.nul-padding {
    padding-bottom: 0;
}
