/* BENEFITS CSS */

.benefits {
    display: flex;
    gap: 30px;
}
.benefits-icons {
    width: 70px;
    height: 70px;
}
.benefits-border {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: rgb(245, 244, 250);
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
}
.benefits-title,
.foot-h3 {
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
    width: 270px;
}
