.efectchoise {
    background-color: #2f303a;
    background: linear-gradient(var(--overlay), var(--overlay)), url("../img/efectchoise.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0;
}

.efectchoise-title {
    width: 696px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-white);
    margin: 0 auto;
}
.efectchoise-btn {
    display: block;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    background-color: rgba(24, 140, 232, 1);
    color: var(--text-white);
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 32px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        background-color: var(--active-color);
        color: var(--text-white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    &:hover .backdrop {
        opacity: 0;
    }
}
.efectchoise-backdrop {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1500ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-delay: 4000ms; */
}

.efectchoise-backdrop.efectchoise-is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: translate(100%, 100%);
    transition: scale(1.5) 1300ms cubic-bezier(0.4, 0, 0.2, 1), transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.efectchoise-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.efectchoise-modal__title {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    &::first-letter {
        text-transform: uppercase;
    }
}
.efectchoise-modal__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.efectchoise-modal__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--contacts-color);
}

.efectchoise-modal__block {
    position: relative;
    margin-top: 5px;
    &:hover svg,
    &:focus svg {
        fill: var(--active-color);
    }
}
.efectchoise-modal__input,
.efectchoise-modal__coment {
    height: 40px;
    width: 448px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.01em;
    padding: 12px 42px;
    color: var(--logo-black);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        cursor: pointer;
        border-color: var(--active-color);
        fill: var(--active-color);
    }
}
.efectchoise-modal__coment {
    height: 120px;
    padding: 12px 16px;
    resize: none;
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover,
    // &:focus {
    //     cursor: pointer;
    //     border-color: var(--active-color);
    //     fill: var(--active-color);
    // }
}
.efectchoise-modal__input:focus + .icon-modal,
.efectchoise-modal__input:hover + .icon-modal {
    fill: var(--active-color);
}
.efectchoise-modal__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Chekbox in modal */
.efectchoise-modal__agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
}
.efectchoise-modal__accept {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}
.efectchoise-modal__text {
    color: var(--active-color);
    text-decoration: underline;
}
.efectchoise-modal__chek {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    &:checked + .efectchoise-modal__checkbox {
        background-color: var(--active-color);
        background-image: url("../img/check.svg");
        fill: var(--text-white);
        background-origin: border-box;
        background-size: contain;
        border: none;
    }
}

.efectchoise-modal__checkbox {
    display: block;
    width: 16px;
    height: 15px;
    border-radius: 4px;
    border: 2px solid black;
}

/*  button send & button close */
.efectchoise-modal__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.efectchoise-modal__close-icon {
    cursor: pointer;
    fill: var(--logo-black);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.efectchoise-modal__close:hover .efectchoise-modal__close-icon,
.efectchoise-modal__close:focus .efectchoise-modal__close-icon {
    fill: var(--active-color);
}
.efectchoise-modal__send {
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: rgba(24, 140, 232, 1);
    color: var(--text-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    border: none;
    animation-name: selert;
    animation-duration: 1500ms;
    animation-iteration-count: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-btn:hover,
.button-btn:focus,
.efectchoise-btn:focus,
.efectchoise-btn:hover {
    background-color: var(--active-color);
    color: var(--text-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.efectchoise-btn:hover .backdrop {
    opacity: 0;
}