.footbox {
    background-color: var(--foot-box-color);
}
.footaddr {
    color: var(--text-white);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.foot-pad {
    padding: 60px 0;
}
.logo-pad {
    padding-bottom: 20px;
}

.footaddr-marge {
    margin-bottom: 9px;
}

.foot-h3 {
    color: var(--text-white);
    margin-bottom: 20px;
}

.subscribe {
    margin: 12px 0 0 93px;
}
.subscribe-element {
    display: flex;
}
.foot-social {
    width: 206px;
    display: flex;
    gap: 10px;
}

.foot-special {
    display: flex;
}
.joins {
    margin: 12px 0 0 70px;
}
.input-email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 358px;
    height: 50px;
    margin-right: 12px;
    background-color: var(--foot-box-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.input-email:hover,
.input-email:active,
.input-email:focus {
    outline: none;
}

.subscribe-btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--active-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-text {
    color: var(--text-white);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: left;
    margin-right: 10px;
}
.foot-email-svg {
    fill: var(--text-white);
}
.foot-click {
    background-color: rgba(255, 255, 255, 0.1);
}
.foot-click:hover {
    background-color: var(--active-color);
}
.logo-footer {
    color: var(--text-white);
}
