.footbox {
    min-width: 480px;
    background-color: var(--foot-box-color);
}
.footaddr {
    color: var(--text-white);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.foot-pad {
    padding: 60px 0;
    display: flex;
    justify-content: center;
}
.logo-pad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    @media screen and(min-width:1200px) {
        justify-content: left;
    }
}
.foot_info {
    display: block;
    justify-content: center;
}
.joins {
    display: block;
    padding: 60px 0;
    justify-content: center;
    @media screen and(min-width:768px) {
        padding: 0 0 102px 0;
    }
    @media screen and(min-width:1200px) {
        padding: 12px 0 0 70px;
    }
}
.subscribe {
    margin-top: 12px;
}

.footaddr-align {
    text-align: center;
    @media screen and(min-width:1200px) {
        text-align: left;
    }
}
.footaddr-align:not(:last-child) {
    margin-bottom: 8px;
}
.address-info {
    justify-content: center;
}

.foot-h3 {
    text-align: center;
    color: var(--text-white);
    margin-bottom: 20px;
}

.subscribe-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.foot-social {
    width: 206px;
    display: flex;
    margin: 0 auto;
    gap: 10px;
}

.foot-special {
    display: block;
    flex-wrap: wrap;
    @media screen and(min-width:768px) {
        display: flex;
        justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
    }
}

.input-email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: calc(100vw - 30px);
    height: 50px;
    margin-bottom: 20px;
    background-color: var(--foot-box-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    @media screen and(min-width:768px) {
        width: 450px;
        margin: 0 152px 20px 152px;
    }
    @media screen and(min-width:1200px) {
        width: 358px;
        margin: 0 12px 0 93px;
        &:hover,
        &:focus {
            outline: none;
        }
    }
}

.subscribe-btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--active-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--active-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.subscribe-text {
    color: var(--text-white);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: left;
    margin-right: 10px;
}
.foot-email-svg {
    fill: var(--text-white);
}
.foot-click {
    background-color: rgba(255, 255, 255, 0.1);
    &:hover {
        background-color: var(--active-color);
    }
}

.logo-footer {
    color: var(--text-white);
}
