h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
svg {
    display: block;
}
li {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--text-color);
}
body .backdrop {
    overflow: hidden;
}

// .bodik {
//     min-width: 1200px;
// }

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    min-width: 480px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;
    @media screen and (min-width: 768px) {
        min-width: 738px;
    }
    @media screen and (min-width: 1200px) {
        width: 1170px;
    }
}
.nul-padding {
    padding-bottom: 0;
}
.section {
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}
.visual-hidden {
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 30px;
    width: 1px;
}
