.header {
    position: relative;
    height: 60px;
    padding: 0 15px;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        height: 100%;
    }
    @media screen and(min-width:1200px) {
        max-width: 1200px;
        justify-content: center;
    }
}

.navig-bord {
    border-bottom: 1px solid #ececec;
    @media screen and (min-width: 768px) {
        max-width: 768px;
        margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
        min-width: 1200px;
    }
}
.navig {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navig-logo,
.logo {
    display: flex;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);
    align-items: center;
}
.logo-header {
    color: var(--logo-black);
}
.navig-menu {
    position: absolute;
    top: 10px;
    right: 8px;
    // // transform: translate(-50%, -50%);
    @media screen and(min-width:768px) {
        display: none;
    }
}
.navig-menu__link {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

.navig-menu__icon {
    fill: var(--logo-black);
}
.navig-list,
.cards {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        list-style: none;
        align-items: center;
    }
    // @media screen and (min-width: 1600px) {
    // }
}

.navig-list__item:first-child {
    @media screen and (min-width: 768px) {
        margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}
.navig-list__item:not(:first-child) {
    margin-left: 50px;
}
.navig-list__link {
    display: flex;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-transform: capitalize;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--active-color);
    }
}
.contacts {
    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}
.contacts-link {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        &:first-child {
            margin-bottom: 10px;
        }
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
            color: var(--active-color);
        }
        &:first-child {
            margin-right: 50px;
            margin-bottom: 0;
        }
    }
}

.contacts-link,
.foot-contacts {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--active-color);
    }
}
.contacts-icons {
    display: inline;
    // justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
        margin-right: 8px;
        fill: currentColor;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
        fill: currentColor;
    }
}
.contacts-icons__email {
    @media screen and (min-width: 768px) {
        width: 14px;
        height: 10px;
    }

    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
    }
}
.contacts-icons__phone {
    @media screen and (min-width: 768px) {
        width: 10px;
        height: 14px;
    }

    @media screen and (min-width: 1200px) {
        width: 12px;
        height: 16px;
    }
}

.navig-list__active {
    color: var(--active-color);
    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: var(--active-color);
    }
}
