.ourteam-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 30px;
    }
}
.container-ourteam {
    display: block;
}
.bord {
    max-width: 450px;
    background-color: var(--text-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid var(--border-line);
    display: block;
    border: none;
    align-items: center;
    margin-bottom: 30px;
    @media screen and(min-width:768px) {
        max-width: 354px;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        max-width: 270px;
    }
}
.ourteambox {
    background-color: var(--buttons-color);
    // max-width: 480px;

    // margin: 0 auto;
    // @media screen and(min-width:768px) {
    //     max-width: 768px;
    // }
    // @media screen and(min-width:1200px) {
    //     min-width: 100%;
    // }
}
.ourteam {
    max-width: 264px;
}
.ourteam::first-letter,
.whatwedo::first-letter,
.regular-customers-h2::first-letter {
    text-transform: capitalize;
}

.ourteam-name,
.ourteam-position {
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: capitalize;
}
.ourteam-position {
    margin-top: 10px;
    color: var(--contacts-color);
    font-weight: 400;
}
.ourteam-pad {
    padding: 30px 0;
}
.ourteam-soc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ourteam-soc {
    margin-top: 12px;
    height: 48px;
    gap: 10px;
}

.ourteam-social-icon {
    width: 20px;
    height: 20px;
    fill: var(--social-link-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.click:hover svg,
.foot-click svg {
    fill: var(--text-white);
}
.click:hover {
    background-color: var(--active-color);
}
.click,
.foot-click {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
