/********************* PORTFOLIO *********************/

.button-item {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: inherit;
    gap: 8px;
    margin-bottom: 50px;
}

.button-btn {
    cursor: pointer;
    font-family: inherit;
    background-color: var(--buttons-color);
    color: var(--text-color);
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 6px 22px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--active-color);
        color: var(--text-white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}

.cards-wrap {
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc(100% / 3 - 30px);
}

.cards-bord {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
}
.cards-bord__paragraph {
    color: var(--contacts-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-transform: capitalize;
}
.cards-bord__title {
    color: var(--text-color);
    font-style: normal;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.cards-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .cards-text {
        transform: translateY(0);
    }
}

.cards-box {
    position: relative;
    overflow: hidden;
}
.cards-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: var(--port-text-img);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
