.container-customers {
    flex-direction: column;
}
.regular-customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
        display: flex;
        // flex-direction: row;
    }
}
.regular-customers-icon {
    width: 106px;
    height: 60px;
    fill: var(--social-link-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-click {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    @media screen and(min-width:768px) {
        width: 226px;
    }
    @media screen and(min-width:1200px) {
        width: 170px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:hover svg,
        &:focus,
        &:focus svg {
            border-color: var(--active-color);
            fill: var(--active-color);
        }
    }
}
