.regular-customers-icon {
    width: 106px;
    height: 60px;
    fill: var(--social-link-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-click {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-click:hover,
.regular-click:hover svg,
.regular-click:focus,
.regular-click:focus svg {
    border-color: var(--active-color);
    fill: var(--active-color);
}
