.section-whatwedo {
    display: none;
    @media screen and(min-width:1200px) {
        display: contents;
        // padding-top: 0;
    }
}

.container-whatwedo {
    display: flex;
    flex-wrap: wrap;
    @media screen and(min-width:1200px) {
        padding-bottom: 94px;
    }
}
.whatwedo,
.ourteam,
.regular-customers-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.whatwedo {
    min-width: 366px;
}
.whatwedo-img {
    display: flex;
    align-items: center;
    gap: 30px;
}
.positition {
    position: fixed;
}
.bottom-box
/* .port-bottom-box  */ {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--foot-box-color-opacity);
}
.bottom-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: var(--foot-box-color-opacity);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-white);
}
